# Ignore everything
*

# Whitelist specific config files
!autoexec.cfg
!auto-binds.cfg
!auto-hud.cfg
!auto-sanctified-2024.cfg
!ui/
!ui/sanctifiedHUD.cfg
!ui/sanctified.vhud
!ui/sanctified.menu

# Whitelist .gitignore itself
!.gitignore
